
/* global styles */
/* body {
  background-color: #004163;
} */

/* background style - color updated in App.js */
.background {
  width: 100%;
  height: 100vh;
}

/* header styles */
.image {
  width: 180px;
  height: 180px;
  background-image: url("./Images/paint.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 -280px 0 0;
}

.headingH1 {
  color: rgb(238, 238, 238);
  font-size: 4rem;
  text-align: center;
  font-family: 'Luckiest Guy', sans-serif;
  letter-spacing: 4px;
}

.headingWrapper {
  display: flex;
    justify-content: center;
}

/* canvas styles */
.canvas {
  display: block;
  margin: 0 auto 0 auto;
  background-color: #fff;
  border: 1px solid black;
  /* width: 1200px; */
  height: 500px;

}

/* brush label */
.icon {
  height: 3rem;
  width: 3rem;
  margin-top: 1rem;
  margin-left: 1rem;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url("./Icons/Pen.svg"); */
  background-size: 80%;
  background-color: whitesmoke;
  border-radius: 50px;
  border: 1px solid #000;
}

.color {
  border-radius: 0px;
}

.brush {
  background-image: url("./Icons/Pen.svg");
}

.bin {
  background-image: url("./Icons/Bin.svg");
  border: none;
}

.palette {
  background-image: url("./Icons/Palette.svg");
}

.slider {
  margin-left: 1rem;
}


.menu {
  display: flex;
  justify-content: center;
  background-color: inherit;
  height: 80px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
